/* styleMenu_estilo exclusiva somente para o menu e menu mobile */

#toggle{
    display: none;
    position: absolute;
}

#hamburger{
    display: none;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    margin-top: 0px;
    margin: 5px;
}

#dif{
    background-color: chocolate;
    transition: 0.5s;
}

header{
    background-color: black;
    width: 100%;
}

#menu-toggle{
    margin: 5vh;
    margin-top: 0;
    margin-bottom: 0;
    align-items: center;
}

#menu{
    list-style: none;
    display: flex;
    padding: 2vh;
    justify-content: center;
    transition: .5s;
}

#menu a{
    text-decoration: none;
    color: white;
    padding: 0vh 5vh;
    font-size: 110%;
    transition: 1s;
}

#menu li :hover{
    transition: .3s;
    color: yellow;
    opacity: 80%;
}
/*Fechamento da parte do menuaberto*/

/*menu mob*/

.burg{
    border-radius: 20px;
    width: 15vh;
    height: 5px;
    margin-top: 10px;
    justify-content: space-around;
    background-color: white;
}

