#logo{
    height: 35vh;
    background-position: auto;
    background-size: auto;
    transition: 0.5s;
}

#imgs{
    margin: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#imgs div{
    display: flex;
    align-items: center;
}

#imgs img{
    height: 50vh;
    margin: 5vh;
}

@media (max-width: 1024px) {
    #imgs img{
        height: 50vh;
        width: 50vh;
        margin: 5vh;
    }
}

@media (max-width: 950px) {    
    #imgs div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #imgs img{
        height: 50vh;
        width: 80vh;
    }

}

@media (max-width: 768px) {  
    #imgs img{
        height: 50vh;
        width: 70vh;
    }

    #logo{
        height: 50vh;
        transition: 0.5s;
    }

    #menu li{
        margin-top: 20vh;
    }
}

@media (max-width: 460px) {  
    #imgs img{
        height: 35vh;
        width: 40vh;
    }

    #logo{
        height: 40vh;
        transition: 0.5s;
    }
}

@media (max-width: 350px) {  
    #imgs img{
        height: 30vh;
        width: 45vh;
    }
}