* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

        .fundo{
            background-image: url(imagens/capa.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top center;
            margin-top: 8vh;
            height: 90vh;
        }

        .logo ul {
            margin-top: 3vh;
            font-family: "Arial Rounded MT";
            font-size: 10vh;
            list-style: none;
            display: block;
            margin-left: 5%;
        }

        .ki{
            width: 44vh;
            border-radius: 12px;
            background-color: yellow;
            box-shadow: 10px 6px 10px rgb(122, 122, 0);
        }

        .bu{
            margin-top: 1vh;
            font-size: 3vh;
            letter-spacing: 3vh;
            width: 28vh;
            margin-left: 3vh;
            border-radius: 8px;
            background-color: yellow;
            box-shadow: 10px 6px 10px rgb(122, 122, 0);
        }

        .ti{
            margin-top: 1vh;
            font-size: 8vh;
            width: 36vh;
            margin-left: 7vh;
            border-radius: 15px;
            background-color: yellow;
            box-shadow: 10px 6px 10px rgb(122, 122, 0);
        }

h4{
    margin-left: 10vh;
    margin-right: 10vh;
    margin-top: 10vh;
    margin-bottom: 5vh;
    font-size: 3em;
    letter-spacing: 2vh;
    font-style: italic;
}

.sobre{
    justify-content: space-around;
    margin-left: 10vh;
    margin-right: 10vh;
}

.text1{
    display: flex;
    align-items: center;
    font-size: 4vh;
}

#mesa{
    justify-content: space-around;
    width: 70vh;
    height: 40vh;
    size: unset;
}

#salgados{
    justify-content: space-around;
    width: 70vh;
    height: 40vh;
}

@media (max-width: 850px){
    .text1{
        display: block;
        align-items: center;
        text-align: center;
    }
    main h4{
        text-align: center;
        font-size: 2em;
    }
}

.list{
    justify-content: space-around;
    display: flex;
    align-items: center;
    font-size: 4vh;
    text-align: center;
    margin-left: 10vh;
    margin-right: 10vh;
}

.list ul li{
    list-style: none;
}

.s{
    font-weight: bold;
    font-style: italic;
}

#coxinha{
    width: 80vh;
    height: 70vh;
}

@media (max-width: 850px){
    .list{
        display: block;
    }

}

.fim{
    margin-left: 10vh;
    margin-right: 10vh;
    margin-top: 5vh;
    font-size: 4vh;
    justify-content: space-around;
}

footer{
    background-color: black;
    height: 35vh;
}

.rodape{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer h4{
    color: white;
    text-align: center;
    font-size: 3em;
}

footer div{
    color:white;
}

footer p{
    line-height: 9vh;
    font-size: 2em;
}

footer img{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.numero{
    letter-spacing: 12px;
}

@media (max-width: 850px) {
    .rodape{
        display: block;
    }
    footer{
        height: 60vh;
        text-align: center;
    }
}

@media (max-width: 460px) {
    #salgados,
    #mesa,
    #coxinha{
        width: 35vh;
        height: 20vh;
    }
}

@media (max-width: 850px) {
    .fim{
        text-align: center;
    }

    body h4{
        font-size: 1em;
        margin-top: 5vh;
    }
    div h4{
        font-size: 1em;
    }
    footer h4{
        font-size: 1em;
    }
    footer p{
        font-size: 1rem;
    }

}