* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

.fundo{
    background-image: url(imagens/capa.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    margin-top: 8vh;
    height: 90vh;
}

.logo ul {
    margin-top: 3vh;
    font-family: "Arial Rounded MT";
    font-size: 10vh;
    list-style: none;
    display: block;
    margin-left: 5%;
}

.ki{
    width: 44vh;
    border-radius: 12px;
    background-color: yellow;
    box-shadow: 10px 6px 10px rgb(122, 122, 0);
}

.bu{
    margin-top: 1vh;
    font-size: 3vh;
    letter-spacing: 3vh;
    width: 28vh;
    margin-left: 3vh;
    border-radius: 8px;
    background-color: yellow;
    box-shadow: 10px 6px 10px rgb(122, 122, 0);
}

.ti{
    margin-top: 1vh;
    font-size: 8vh;
    width: 36vh;
    margin-left: 7vh;
    border-radius: 15px;
    background-color: yellow;
    box-shadow: 10px 6px 10px rgb(122, 122, 0);
}

.sobre{
    display: flex;
}